@use './variables' as *;
@use './mixins' as *;

body,
html,
#root,
.app {
  width: 100%;
  height: 100%;
}

// 应用主容器
.app {
  display: flex;
  flex-direction: column;
  background-color: $light-color;
}

.main-content {
  flex: 1;
  padding: 1.5rem 0;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  overflow-y: auto;
}
